global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

remote_write:
  - url: "http://host.docker.internal:9200/_prometheus/api/v1/write"
    basic_auth:
      username: "elastic"
      password: "password"
